{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script type="text/plain" data-categories="analytics" async src="https://www.googletagmanager.com/gtag/js?id=UA-171026764-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-171026764-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" href="{% static 'rust_stats/images/favicon.ico' %}" type="image/gif" sizes="48x48">
    <title>{% block title %}RustStats.gg - Rust Stats and Leaderboards{% endblock %}</title>
    <meta name="Description" content="{% block page_description %}Rust stats and leaderboards. View anyone's stats for the game of Rust. Kills, deaths, gathered materials and more {% endblock %}">
    <link rel="preconnect" href="https://steamcdn-a.akamaihd.net">
    <link rel="stylesheet" href="{% static 'rust_stats/bootstrap/css/bootstrap.min.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha256-ZsWP0vT+akWmvEMkNYgZrPHKU9Ke8nYBPC3dqONp1mY=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js" integrity="sha256-LlHVI5rUauudM5ZcZaD6hHPHKrA7CSefHHnKgq+/AZc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'rust_stats/css/styles.css' %}">
    {% block header_scripts %}{% endblock %}
    {% block header_content %}{% endblock %}
</head>

<body class="text-white d-flex flex-column min-vh-100">
    <nav class="navbar navbar-light navbar-expand-md">
        <div class="container"><a class="navbar-brand" href="/">RustStats.gg</a>
        <button data-toggle="collapse" class="navbar-toggler text-white" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><i class="fas fa-bars"></i></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link active nav-item" href="/discord-bot">Discord Bot</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active nav-item" href="https://discord.gg/QnYh9QB" target="_blank">Discord Server</a></li>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item" role="presentation"><a class="nav-link active nav-item" href="/my_profile">My Profile</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active nav-item" href="/logout">Logout</a></li>
                    {% else %}
                        <li class="nav-item" role="presentation"><a class="nav-link active nav-item" href="{% url 'social:begin' 'steam' %}">Login with Steam</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="row align-items-center" id="rustinity-banner">
        <a href="https://rustinity.com/discord" target="_blank"><img src="{% static 'rust_stats/images/rustinity-servers-banner-small.png' %}"></a>
    </div>

    <div>
        <div class="container">
            {% block content %}{% endblock %}
            {% block footer %}
            <footer class="footer">
                <div class="row" id="footer-disclaimers">
                    <div class="col col-12 col-md-6 site-info">
                        <a href="https://app.termly.io/document/privacy-policy/4a952f8d-a936-4239-8821-695a6bc5160a" target="_blank"><span>Privacy Policy</span></a>
                        <span> | </span>
                        <a href="https://app.termly.io/document/cookie-policy/394b216a-4c60-4a38-9ea8-16ef5e901e17" target="_blank"><span>Cookie Policy</span></a>
                        <span> | </span>
                        <a href="#" onclick="displayPreferenceModal()"><span>Cookie Preferences</span></a>
                    </div>
                    <div class="col col-12 col-md-6 d-none d-md-block site-info" id="discord-desktop">
                        <a href="https://discord.gg/QnYh9QB" target="_blank"><span class="float-right">Join our discord server if you have suggestions/feedback</span></a>
                    </div>
                    <div class="col col-12 col-md-6 d-block d-md-none site-info" id="discord-mobile">
                        <a href="https://discord.gg/QnYh9QB" target="_blank"><span>Join our discord server if you have suggestions/feedback</span></a>
                    </div>
                    <div class="col" id="other-disclaimers">
                        <span>Statistics are provided by Steam. These stats are only tracked on servers under the "Official Servers" tab. Intentional abuse of the stats system will lead to a profile ban.<br></span><span>Steam is a registered trademark of Valve. Valve has not endorsed and is not responsible for this site or its content.<br></span><span>Rust is a registered trademark of Facepunch. Game materials copyright Facepunch. Facepunch has not endorsed and is not responsible for this site or its content.<br></span><span>Trademarks are the property of their respective owners.</span>
                    </div>
                </div>
            </footer>
            {% endblock %}
        </div>
    </div>

    {% block footer_scripts %}{% endblock %}
    <script src="{% static 'rust_stats/bootstrap/js/bootstrap.min.js' %}"></script>
    <script>
    (function () {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'https://app.termly.io/embed.min.js';
        s.id = 'f8f7e62a-5321-4d22-8c70-f5f2243ac4e9';
        s.setAttribute("data-name", "termly-embed-banner");
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
    })();
    </script>
</body>

</html>